$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;

.about h1 {
	margin-bottom: 20px;
}

.about {

	.navy-bg {
		padding: 50px 0;
	}

	.navy-bg p {
		margin-top: 30px;
		font-size: 20px;
	}

	.teal-border {

		p {
			margin-top: 20px;
			font-size: 18px;
		}

		a {
			text-decoration: underline;
		}
	}
	.home-bg-2 {
		background-image: none;
	}
}

.about-cta {
	background-image:url('../../images/st-louis-concannon-insurance-light.jpg');
	/*border: 1px solid #fff;*/
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;

	p {
		padding: 30px 0;
	}

	a.btn {
		background: $cl-navy;
		font-size: 16px;
		padding: 16px 60px;
	}
}

.clients-trust {
	
	h2 {
		line-height: 0 !important;
		margin-bottom: 20px;
	}	

}

@media screen and (max-width: 768px) {
	.about h2:before {
		bottom: -10px !important;
		width: 20% !important;
		left: 40% !important;
	}
}