$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;

.contact {

	background: #ababab;
	padding-top:30px;

	h2.white {
		margin: 50px 0;
	}

	.navy-border {
		
		margin: 0 !important;


		.contact-bg-image {
			background-image:url('../../images/concannon-insurance-contact-us.jpg') !important;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: inset 0px 0px 0px 30px #fff;
			padding: 30px 0;
		}
	}

	.contact-form {

		form {
			max-width: 100%;
		}
		width: 100%;
		padding: 0 30px 30px;
		
		label.text, label.string, label.email, label.tel {
			display: none;
		}

		input.string, textarea {
			width: 100%;
		}

		textarea {
			height: 5em;
			border: 1px solid #dddddd;
		}
		input[type=text], input[type=email], input[type=password] {
			border-radius: 0;
		}
	}

	.hidden {
		display: none;
	}

	/*flash*/
	.alert-error {
		color: #b94a48;
		text-align: center;
	}

	.alert-alert {
		color: #b94a48;
		text-align: center;
	}

	.alert-success {
		color: #051f43;
		text-align: center;
	}

	.alert-notice {
		color: #051f43;
		text-align: center;
	}

	.alert-error, .alert-alert, .alert-success, .alert-notice {
		font-size: 20px;
	}

}

@media (max-width: 768px) {
	.contact-bg-image {
		height: 400px;

		h1 {
			font-size: 24px;
			margin-top: 5px;
		}
	}
}

@media (min-width: 769px) {
	.contact-bg-image {
		height: 700px;
	}
}