$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.home {
	background: $cl-gray;
	
	.home-bg-1 {
		background-image:url('../../images/thoughtful-professional.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		

		a.btn {
			margin-left: 15px;
			/* color: $cl-yellow !important; */
		}
		h1 {
			background: #fff;
			opacity: 0.6;
			line-height: 1.5em;
			padding: 0 15px;
			display: inline-block
		}

	}

	.navy-border {
		padding: 0 50px;

		a.teal-btn {
			margin-top: 35px;
		}
	}
	.home-bg-2 {
		background-image:url('../../images/business-meeting.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		.testimonial-cta {
			margin-top: 30px;
		}
	}

	.desc {
		padding: 50px 30px;
		line-height: 1.5em;

		span {
			border-bottom: 2px solid #fff;
		}
	}

	.teal-border {
		border: 10px solid $cl-teal;
		background: #fff;
		margin-top: 0 !important;

		p {
			margin-top: 30px;
			font-size: 18px;
		}

		p a.teal-btn {
			margin-top: 20px;
		}
	}

	.testimonial-cta {

		a.btn {
			background: $cl-gray;
			color: $cl-navy !important;
		}
		a.btn:hover {
			color: $cl-teal !important;
		}
	}

	.home-icon {
		width: 100px
	}
}

h3.desc {
	margin: 30px 0;
}

.home-risk-management, .bi-coverage, .pi-coverage {
	

	p {
		margin-bottom: 0;
		padding-bottom: 15px;
	}
}

@media screen and (min-width: 992px) {
	.pi-coverage {
		-webkit-box-shadow:inset -2px 0px 0px 0px #000, -2px 0px 0px 0px #000;
	  -moz-box-shadow:inset -2px 0px 0px 0px #000, -2px 0px 0px 0px #000;
	  box-shadow:inset -2px 0px 0px 0px #000, -2px 0px 0px 0px #000;
	}
	.home-risk-management, .pi-coverage, .bi-coverage {
		margin: 25px 0;
	}
	.line1 {
		// -webkit-box-shadow:inset -2px 0px 0px 0px #000;
	 //  -moz-box-shadow:inset -2px 0px 0px 0px #000;
	 //  box-shadow:inset -2px 0px 0px 0px #000;
	}
	.line2 {
		// -webkit-box-shadow:inset 2px 0px 0px 0px #000;
	 //  -moz-box-shadow:inset 2px 0px 0px 0px #000;
	 //  box-shadow:inset 2px 0px 0px 0px #000;
	  p {
	  	padding: 0 5px 15px 5px;
	  }
	}
	
	.home {
		.carousel-indicators {
			bottom: 0;
		}
	}
}
@media screen and (max-width: 992px) {
	.col-md-4 {
  	margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .navy-border {
    padding: 0 !important;
    margin: 40px 0 0 0!important;

    .desc {
    	padding: 0 15px;
    }
  }

  .home-bg-1 {
  	height: 300px !important;
		background-position-y: 0 !important;
  	h1 {
  		font-size: 30px;
  	}
  	h1, h2 {
			margin-top: 70px;
			margin-bottom: 20px;
		}

  }
  .home-bg-2 {
  	padding: 10px 0;
	}
}
@media screen and (min-width: 769px) {
	.home-bg-2 {
		padding: 10px 0;
		h2 {
			// margin-top: 90px;
		}
	}
	.home-bg-1 {
		height: 600px !important;
		background-position-y: -100px !important;	
		
		h1 {
			margin-top: 80px;
			margin-bottom: 40px;
		}
	}
}

