$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.insurance {

	p {
		font-size: 20px;
		padding: 15px 0;
	}

	.navy-bg {
		padding: 50px 0;
	}

	.bi-cta, .pi-cta, .risk-cta {
		background-image: url("../../images/st-louis-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	}
	
	.testimonial-cta {
		margin-top: 30px;
	}

	.teal-border {

		ul.col-md-8, ul.col-md-6 {
			padding: 15px;
		}

		ul li {
			list-style-type: disc;
			font-size: 18px;
		}

		ul li:before {
			// content: "- ";
		}
		a {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 768px) {
	.insurance { 
		.carousel-indicators {
			bottom: -45px !important;
		}
	}
}