$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.insurance {

	

	.navy-bg {
		padding: 50px 0;

		p {
			margin-top: 30px;
			font-size: 20px;
		}
	}
	
	.bi-cta {
		background-image: url("../../images/new-york-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .content-a, .content-b {
    	display: block;
    }
	}

	.pi-cta, .risk-cta {
		background-image: url("../../images/st-louis-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .content-a, .content-b {
    	display: block;
		}
	}
	
	.testimonial-cta {
		margin-top: 30px;

	}

	.navy-border {

		padding: 15px;

		p {
			font-size: 20px;
			padding: 15px 0;
		}

		ul.col-md-8, ul.col-md-6 {
			padding: 15px;
		}

		ul li {
			list-style-type: disc;
			font-size: 18px;
		}

		a {
			text-decoration: underline;
		  color: $cl-teal;
		}
		
	}
	hr.risk-teal-hr {
	  display: block;
	  border: 0;
	  border-top: 5px solid $cl-teal;
	  width: 20%;
	  margin-left: 40%;
	}

	.insurance-image {
		width: 100%;
		margin-top: 15px;
	}

	.insurance-cta {
		margin-top: 30px;
	}
}

@media screen and (max-width: 768px) {
	.insurance { 
		.navy-bg {
			h1 {
				text-align: left;
			}
			hr.teal-hr {
				margin-left: 15%
			}
			hr.risk-teal-hr {
				margin-left: 20%
			}
		}

		.testimonial-cta {
			display: block !important;
		}
	}
}

@media screen and (min-width: 769px) {
	.insurance {
		a:hover {
		  text-decoration: underline;
		  color: $cl-navy;
		  transition: color .5s ease-in-out !important;
		  -moz-transition: color .5s ease-in-out !important;
		  -webkit-transition: color .5s ease-in-out !important;
		}
	}
}