$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.services {

	h1 {
		margin-bottom: 20px;
	}
	.navy-bg {
		padding: 50px 0;

		h1 {
			text-decoration: underline;
		}

		p {
			margin-top: 30px;
			font-size: 20px;
		}
	}

	.services-cta {
		background-image: url("../../images/st-louis-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .content-a, .content-b {
    	display: block;
    }
	}


	.navy-border {

		span.navy {
			margin-right: 20px;
		}
		span.gray {
			margin-left: 20px;
		}
	}

	.home-bg-2 {

		h2 {
			color: $cl-teal;
		}

	}

	.testimonial-cta {
		margin-top: 30px;
	}

}

.service-bg-image {
	background-image:url('../../images/man-phone.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	-webkit-box-shadow:inset 0px 0px 0px 30px #fff;
  -moz-box-shadow:inset 0px 0px 0px 30px #fff;
  box-shadow:inset 0px 0px 0px 30px #fff;

  .myrow {
  	padding: 0 45px;
  	padding-top: 30px;
  }

	> h3 {
		background: #fff;
		margin-top: 0;
		line-height: 60px;
	}


	span.yellow {
		color: $cl-yellow;
	}

	span.gray {
		color: #4e4e4f !important;
	}

	ul li {
		list-style-type: none;
	}

	ul li:before {
		content: "- ";
	}

	hr.blue-hr {
		width: 40%;
		margin-left: 30%;
	}

	p.narrow-p,
	p.narrow-p,
	p.narrow-p {
		font-style: italic;
		font-size: 18px;
	}


	a.btn {
		font-size: 18px;
		background: transparent;
		border-radius: 0px;
		border: 2px solid $cl-teal;
		white-space: normal;
		width: 85%;
		padding: 10px 18px;
		letter-spacing: 3px;
	  transition: color .5s, border .5s ease-in-out !important;
	  -moz-transition: color .5s, border .5s ease-in-out !important;
	  -webkit-transition: color .5s, border .5s ease-in-out !important;
	}
	
}

.services-cta {
	h1 {
		margin-bottom: 100px;
	}

	a.btn {
		padding: 12px 50px;
		transition: color .5s, border .5s ease-in-out !important;
	  -moz-transition: color .5s, border .5s ease-in-out !important;
	  -webkit-transition: color .5s, border .5s ease-in-out !important;
	}
}


@media screen and (min-width: 769px) {

	.services {

		.service-bg-image {

			> h3 {
				// margin-bottom: 70px;
			}
		}

		.services-cta {

			span.navy {
				margin-right: 20px;
			}

			.span.white {
				margin-left: 20px;
			}
			h3 {
				margin-top: 40px;
			}
			a.btn {
				font-size: 36px;
				line-height: 56px;
			}
			a.btn:hover {
			  border-color: $cl-navy;
			  transition: color .5s, border .5s ease-in-out !important;
			  -moz-transition: color .5s, border .5s ease-in-out !important;
			  -webkit-transition: color .5s, border .5s ease-in-out !important;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.services {

		.navy-bg {
			h1 {
				text-align: left;
			}
			hr.teal-hr {
				margin-left: 5%;
			}
		}
		.service-bg-image {

			a.btn {
	  		width: 70%;
	  		font-size: 12px;
	  		padding: 10px 8px;
			}

			> h3 {
				height: inherit;
				margin-bottom: 40px;
				
				span {
					display: block;
				}

				span.navy, span.gray {
					margin: 0;
				}
			}
		}

		.myrow {
	  	padding-bottom: 30px !important;
	  }

		.navy-border {
	    padding: 0 !important;
	    margin: 50px 15px;
	  }

		.services-cta {
			span.navy, span.white {
				margin: 0;
				display: block;
			}
		}

	}
}

@media screen and (min-width: 992px) {

	.services {
		.navy-border {
			padding-bottom: 300px;
		}
	}

	.service-bg-image {
		
		p.narrow-p,
		p.narrow-p,
		p.narrow-p {
			font-style: italic;
			font-size: 20px;
		}

		.align-btn {
			position:	absolute;
			top: 250px;
			text-align: center;
			white-space: inherit;
			width: 100%;
			left: 0;
		}
	}
}

@media (max-width: 991px) {
	.service-bg-image {
		background-position: -700px !important;

		> h3 span {
			display: block;
		}

		.rwd-break {
			display: none;
		}

		.col-md-4 {
			margin-bottom: 60px;
		}

		.myrow {
			padding-top: 0;
		}
	}
}



@media screen and (min-width: 768px) and (max-width: 991px) {
	.service-bg-image {

		a.btn {
			width: 75%;
		}

		.blue-hr {
			width: 20% !important;
			margin-left: 40% !important;
		}
	}	
}
@media screen and (min-width: 1200px) {
	.service-bg-image {

		.business-insurance p.narrow-p,
		.services-risk-management p.narrow-p,
		.personal-insurance p.narrow-p {
			padding: 0 12.5%;
		}

		.business-insurance h3,
		.services-risk-management h3, 
		.personal-insurance h3 {
			padding-left: 0;
		}

	}
}

@media screen and (min-width: 992px) and (max-width: 1201px) {
	br.rwd-break-3 {
		display: none !important;
	}
}

@media screen and (max-width: 768px) {
	.service-bg-image > h3 span {
		line-height: 1.5em;
	}
}