$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.services h1 {
	margin-bottom: 20px;
}

.services {

	.navy-bg {
		padding: 50px 0;

		p {
			margin-top: 30px;
			font-size: 20px;
		}
	}


	.navy-border {

		span.navy {
			margin-right: 20px;
		}
		span.gray {
			margin-left: 20px;
		}
	}

	.home-bg-2 {
		background-image: none;
		background-color: $cl-navy;

		h2 {
			color: $cl-teal;
			margin-top: 90px;
		}

		.carousel-indicators {
			bottom: 50px;
		}
		.carousel-indicators li {
			background: $cl-teal;
			display: none;
		}

		.carousel-indicators .active {
			background: #fff;
		}

	}

}

.service-bg-image {
	background-image:url('../../images/man-phone.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	-webkit-box-shadow:inset 0px 0px 0px 30px #fff;
  -moz-box-shadow:inset 0px 0px 0px 30px #fff;
  box-shadow:inset 0px 0px 0px 30px #fff;

  .myrow {
  	padding: 0 45px;
  	padding-top: 30px;
  }

	> h3 {
		background: #fff;
		margin-top: 0;
		line-height: 60px;
	}


	span.yellow {
		color: $cl-yellow;
	}

	span.gray {
		color: #4e4e4f !important;
	}

	ul li {
		list-style-type: none;
	}

	ul li:before {
		content: "- ";
	}

	hr.blue-hr {
		width: 40%;
		margin-left: 30%;
	}

	p.narrow-p,
	p.narrow-p,
	p.narrow-p {
		font-style: italic;
		font-size: 20px;
	}


	a.btn {
		font-size: 18px;
		background: transparent;
		border-radius: 0px;
		border: 2px solid $cl-teal;
		white-space: normal;
		width: 85%;
		padding: 10px 30px;
		letter-spacing: 3px;
	  transition: color .5s, border .5s ease-in-out !important;
	  -moz-transition: color .5s, border .5s ease-in-out !important;
	  -webkit-transition: color .5s, border .5s ease-in-out !important;
	}
	a.btn:hover {
	  border-color: $cl-navy;
	  transition: color .5s, border .5s ease-in-out !important;
	  -moz-transition: color .5s, border .5s ease-in-out !important;
	  -webkit-transition: color .5s, border .5s ease-in-out !important;
	}
}

.services-cta {
	// background-image:url('../../images/chicago-skyline-concannon-insurance.jpg');
	/*border: 1px solid #fff;*/
	// background-size: cover;
	// background-repeat: no-repeat;
	// padding: 150px 0;

	h1 {
		margin-bottom: 100px;
	}

	a.btn {
		padding: 12px 50px;
		transition: color .5s, border .5s ease-in-out !important;
	  -moz-transition: color .5s, border .5s ease-in-out !important;
	  -webkit-transition: color .5s, border .5s ease-in-out !important;
	}
}


@media (max-width: 992px) {
	.service-bg-image {
		background-position: -700px;

		> h3 span {
			display: block;
		}
	}
}



@media screen and (min-width: 768px) {
	.service-bg-image {

		> h3 {
			margin-bottom: 70px;
		}
	}

	.navy-border {
		margin: 30px 15px !important;
	}
	.services-cta {

		span.navy {
			margin-right: 20px;
		}

		.span.white {
			margin-left: 20px;
		}
		h3 {
			margin-top: 40px;
		}
		a.btn {
			font-size: 36px;
			line-height: 56px;
		}
	}
}

@media screen and (max-width: 767px) {
	.service-bg-image {
		background-position: -450px 105px !important;


		a.btn {
  		width: 70%;
  		font-size: 14px;
  		padding: 10px 5px;
		}

		> h3 {
			height: inherit;
			margin-bottom: 40px;
			
			span {
				display: block;
			}

			span.navy, span.gray {
				margin: 0;
			}
		}
	}

	.myrow {
  	padding-bottom: 30px !important;
  }

	.navy-border {
    padding: 0 !important;
    margin: 50px 0 0 0!important;
  }

	.services-cta {
		span.navy, span.white {
			margin: 0;
			display: block;
		}
	}
}

@media screen and (min-width: 992px) {

	.services {
		.navy-border {
			padding-bottom: 300px;
		}
	}

	.service-bg-image {
		
		p.narrow-p,
		p.narrow-p,
		p.narrow-p {
			font-style: italic;
			font-size: 20px;
		}

		.align-btn {
			position:	absolute;
			top: 200px;
			text-align: center;
			white-space: inherit;
			width: 100%;
			left: 0;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.service-bg-image {

		a.btn {
			width: 40%;
		}

		.blue-hr {
			width: 20% !important;
			margin-left: 40% !important;
		}
	}	
}
@media screen and (min-width: 1200px) {
	.service-bg-image {

		.business-insurance p.narrow-p,
		.services-risk-management p.narrow-p,
		.personal-insurance p.narrow-p {
			padding: 0 12.5%;
		}

		.business-insurance h3,
		.services-risk-management h3, 
		.personal-insurance h3 {
			padding-left: 0;
		}

	}
}