$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e0e0e0;



.services .navy-bg {
	margin-bottom: 30px;
}

.services h2 {
	margin-bottom: 20px;
}

.services h2:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	border-bottom: 2px solid $cl-teal;
	width: 40%;
	left: 30%;
}

@media screen and (max-width: 768px) {
	.services h2:before {
		bottom: -10px;
		width: 20%;
		left: 40%;
	}
}

.services p {
	font-size: 20px;
}

.services {

	.navy-border {
		border: 10px solid $cl-navy;
		background: #fff;
		margin-bottom: 30px;

		span.navy {
			margin-right: 20px;
		}
		span.gray {
			margin-left: 20px;
		}
	}

	p {
		margin-top: 30px;
		font-size: 18px;
	}
}

.service-bg-image {

	ul li {
		list-style-type: none;
	}

	ul li:before {
		content: "- ";
	}

	.future, .business {
		padding: 35px;
	}

	.future h3, .business h3 {
		margin-bottom: 40px;
	}
}
