$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.team h1 {
	margin-bottom: 20px;
}


.team {


	.navy-bg {
		padding: 50px 0;

		h1 {
			text-decoration: underline;
		}
		
		p {
			margin-top: 30px;
			font-size: 20px;
		}
	}

	.home-bg-2 {

		h2 {
			color: $cl-navy;
		}

		.content-a {
			display: block;
		}
	}

}

.team-members {
	background: #e0e0e0;


	h2 {
		margin-bottom: 50px;
	}

	.glyphicon {
		font-size: 60px;
		color: #000;
	}

	img.headshot {
		width: 150px;
	}

}

.team-cta {

	background-image: url("../../images/st-louis-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
	
	.home-bg-2 {

		h2 {
			color: $cl-teal;
		}

		.carousel-indicators .active {
			background: #fff;
		}

	}

	.testimonial-cta {
		margin-top: 30px;
	}

	p {
		// padding: 30px 0;
	}

	a.btn {
		font-size: 16px;
		transition: color .5s ease-in-out !important;
	  -moz-transition: color .5s ease-in-out !important;
	  -webkit-transition: color .5s ease-in-out !important;
	}

	.content-b {
		display: block;
	}
}

.client-list {
	background: #e0e0e0;
}

@media screen and (max-width: 992px) {
	.team .navy-bg h2:before {
		bottom: -10px;
		width: 20%;
		left: 40%;
	}

	.person {
		margin: 0 30px 50px 15px;
	}
}

@media screen and (max-width: 768px) {
	.team {
		
		.navy-bg {
			h1 {
				text-align: left;
			}
			.teal-hr {
				margin-left: 5%
			}
		}
	}
}

@media screen and (min-width: 769px) {
	a.btn:hover {
	  color: $cl-teal !important;
	  transition: color .5s ease-in-out !important;
	  -moz-transition: color .5s ease-in-out !important;
	  -webkit-transition: color .5s ease-in-out !important;
	}
}
