$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e0e0e0;



.team h2 {
	margin-bottom: 20px;
}

.team h2.title:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	border-bottom: 2px solid $cl-teal;
	width: 40%;
	left: 30%;
}

.team {

	.navy-bg {
		padding: 50px 0;
	}

	.navy-border {
		border: 10px solid $cl-navy;
		background: #fff;
		margin-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;

		span.navy {
			margin-right: 20px;
		}
		span.gray {
			margin-left: 20px;
		}
	}

	.navy-bg p {
		margin-top: 30px;
		font-size: 20px;
	}

	.home-bg-2 {
		background-image: none;

		h2 {
			color: $cl-navy;
		}

		.carousel-indicators li {
			background: $cl-teal;
		}

		.carousel-indicators .active {
			background: #fff;
		}
	}
}

.team-members {
	background: #e0e0e0;

	.glyphicon {
		font-size: 60px;
		color: #000;
	}

	ul#tabs li {
		text-align: center;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: inherit !important;
		color: $cl-navy !important;
	}
	
	.nav-tabs > li > a {
		border: none;
	}
	
	.nav-tabs > li > a:hover {
		background: inherit;
		border-color: inherit;
	}

	.dropdown-toggle {
		text-align: center;
	}

	.dropdown, .dropdown p {
		color: #000;
	}

	.dropdown p.white span{
		text-decoration: underline;
	}
	.dropdown p.white:before {
		content: "+";
		color: #efe16a;
	}

	/* FULL WIDTH DROPDOWN FOR TEAM MEMBERS */
	.nav { 
		margin-bottom: 0;
		width: 100%;
		background-color: #e0e0e0;
	}
	.nav > li.dropdown.open {
		position: static;
	}
	.nav > li.dropdown.open .dropdown-menu {
		display:table;
		width: 100%;
		text-align: center;
		left:0;
		right:0;
	}
	.dropdown-menu > li {
		display: table-cell;
	}
}

.team-cta {
	background-image:url('../../images/Empire_State_Wide_BW_1000_lightened.png');
	/*border: 1px solid #fff;*/
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;

	p {
		padding: 30px 0;
	}

	a.btn {
		background: #31353a;
		font-size: 16px;
	}
}

.client-list {
	background: #e0e0e0;
}

@media (max-width: 992px) {
	.team .navy-bg h2:before {
		bottom: -10px;
		width: 20%;
		left: 40%;
	}
}

