$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


.team h1 {
	margin-bottom: 20px;
}


.team {

	.navy-bg {
		padding: 50px 0;
	}

	.navy-border {

		span.navy {
			margin-right: 20px;
		}
		span.gray {
			margin-left: 20px;
		}
	}

	.navy-bg p {
		margin-top: 30px;
		font-size: 20px;
	}

	.home-bg-2 {
		background-image: none;

		h2 {
			color: $cl-navy;
		}

		.carousel-indicators li {
			background: $cl-teal;
		}

		.carousel-indicators .active {
			background: #fff;
		}
	}

	
}

.team-members {
	background: #e0e0e0;


	h2 {
		margin-bottom: 50px;
	}

	.glyphicon {
		font-size: 60px;
		color: #000;
	}

	img.headshot {
		width: 150px;
	}

	.person {
		margin-bottom: 50px;
	}
}

.team-cta {
	background-image:url('../../images/new-york-dark.jpg');
	border: 1px solid #fff;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;

	p {
		padding: 30px 0;
	}

	a.btn {
		font-size: 16px;
		transition: color .5s ease-in-out !important;
	  -moz-transition: color .5s ease-in-out !important;
	  -webkit-transition: color .5s ease-in-out !important;
	}
	a.btn:hover {
	  color: $cl-teal !important;
	  transition: color .5s ease-in-out !important;
	  -moz-transition: color .5s ease-in-out !important;
	  -webkit-transition: color .5s ease-in-out !important;
	}
}

.client-list {
	background: #e0e0e0;
}

@media (max-width: 992px) {
	.team .navy-bg h2:before {
		bottom: -10px;
		width: 20%;
		left: 40%;
	}
}

@media (max-width: 768px) {
	.team {
		
		.teal-border {
			margin: 0 15px;
		}
		.navy-bg {
			h1 {
				text-align: left;
			}
			.teal-hr {
				margin-left: 5%
			}
		}
	}
}

@media (min-width: 769px) {
	.team {
		
		.teal-border {
			padding: 0px;
		}
	}
}
