<%
=begin
Logos carousel with pure CSS
=end %>
<div class="container logos-carousel">
	<!-- <div class="container logos">

			<div class="logo-container">
				<img src="../../images/better-future-us.png">
			</div>
			<div class="logo-container">
				<img src="../../images/carpenters-union.png">
			</div>
			<div class="logo-container">
				<img src="../../images/challenge-unlimitted-concannon-insurance.png">
			</div>
			<div class="logo-container">
				<img src="../../images/concannon-insurance-clients-cratex-packaging.png">
			</div>
			<div class="logo-container">
				<img src="../../images/concannon-insurance-clients-senior-care-services.png">
			</div>
			<div class="logo-container">
				<img src="../../images/dynalabs.png">
			</div>
			<div class="logo-container">
				<img src="../../images/reliance-automotive.png">
			</div>
			<div class="logo-container">
				<img src="../../images/the-globe-building.png">
			</div>
			<div class="logo-container">
				<img src="../../images/thebreesejournal.png">
			</div>

	</div> -->
</div>