<% if current_page?(services_path) %>
  <div class="row testimonial-bg">
<% elsif current_page?(about_path) %>
  <div class="row testimonial-bg-2">
<% elsif current_page?(personal_insurance_path) %>
  <div class="row testimonial-bg-2">
<% elsif current_page?(business_insurance_path) %>
  <div class="row testimonial-bg-3">
<% elsif current_page?(risk_management_consulting_path) %>
  <div class="row testimonial-bg-3">
<% else %>
  <div class="row testimonial-bg">
<% end %>
  <!--carousel-->
  <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
    <h2 class="teal text-center">What Concannon Clients Say</h2>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      <li data-target="#testimonial-carousel" data-slide-to="3"></li>
      <li data-target="#testimonial-carousel" data-slide-to="4"></li>
    </ol> 

    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonial">
      <!--item-one-->
      <div class="item active">
        <div class="unit">
          <p class="text-left white testimonial-desc"><em>The Concannon Insurance Agency has been serving the Carpenters District Council and Fringe Benefit Funds for over 40 years. From generation to generation of family owners, they have made it a point to understand our business so that they can accurately evaluate our insurance needs and effectively communicate those needs to our administrative team.</em></p>
          <p class="text-right white testimonial-author">- Juli Laramie, CFO, Carpenters District Council of Greater St. Louis &amp; Vicinity </p>
          <div></div>
        </div>
      </div>
      <!--item-two-->
      <div class="item">
        <div class="unit unit-2">
          <p class="text-left white testimonial-desc"><em>I've been affiliated with the Concannon Group for over 20 years serving in the capacity of CFO for 2 companies.  Jim Concannon has always been a "hands on" Insurance Broker to ensure our companies are educated and understand the risks associated with the current climate, new lines of business or future threats on the horizon. The Concannon Group was instrumental in assisting our company to drive down our workers comp cost from close to $1 million dollars to slightly over $250K in less than 7 years.  This was Phenomenal!!!</em></p>
          <p class="text-right white testimonial-author">- Charlotte Hammond, President, Challenge Unlimited, Inc.</p>
          <div></div>
        </div>
      </div>
      <!--item-three-->
      <div class="item">
        <div class="unit unit-3">
          <p class="text-left white testimonial-desc"><em>The Concannon Insurance Agency is by far the best insurance brokerage company I've worked with. They are more than an agency, they are a trusted advisor. They continue to take the time to get to know us as both individuals and a business, and offer tailored products and services based on our specific needs. By simplifying the process and providing the right tools and information, we were able to make the right decisions and focus on what matters. I would highly recommend The Concannon Insurance Agency to any small business owner.</em></p>
          <p class="text-right white testimonial-author">- Victoria Foster, Co-Founder &amp; Managing Director, Better Futures</p>
          <div></div>
        </div>
      </div>
      <!--item-four-->
      <div class="item">
        <div class="unit unit-4">
          <p class="text-left white testimonial-desc"><em>DynaLabs has been with The Concannon Insurance Agency since 2003.  From the outset, their sincere desire to see clients well-protected AND successful has been evident.  Through the years, The Concannon Insurance Agency has made certain that DynaLabs was receiving the most comprehensive coverage at an optimal price.  For example, a couple of years in, Jim brought us a less expensive insurer, but maintained the same level of coverage; practically unheard of in the business landscape today.  This agency is our “Go To” for all things insurance.</em></p>
          <p class="text-right white testimonial-author">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
          <div></div>
        </div>
      </div>
      <!--item-five-->
      <div class="item">
        <div class="unit unit-5">
          <p class="text-left white testimonial-desc"><em>My company, Senior Services Unlimited, has been with The Concannon Insurance Agency since 2006. Several other companies have tried to match their level of expertise, service, and pricing; however, none have come close to matching what they can offer. They have a sincere interest in their clients' success, something that is hard to find in any industry today. The Concannon Insurance Agency is by far the best at what they do.</em></p>
          <p class="text-right white testimonial-author">- Darren Valeriote, CEO, Senior Services Unlimited</p>
          <div></div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-testimonial" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-testimonial" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!--carousel end-->
  <div class="testimonial-cta">
    <p>
      <a href="/contact" class="navy-btn">Contact Us</a>
    </p>
  </div>
</div>
<script>
$('.carousel').carousel({
  pause: true,
  interval: false
});
</script>