<div class="about">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">ABOUT US</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We help businesses and families protect their assets, ideas and ultimately, their futures. Founded by Jeremiah Concannon in 1903, our company has maintained a long-standing reputation as a trusted business partner and involved community leader.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Get A Quote</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border">
		<div class="container">
			<h3 class="text-center navy">Our Mission</h3>
			<p>Since its founding in 1903, The Concannon Insurance Agency's mission has been to help businesses and families protect their assets so that they can passionately pursue their dreams without fear. As a family business dating back four generations, we are deeply connected by this mission and are proud to put our clients at the center of every decision that we make. Our goal is to be a trusted business advisor and to help our clients achieve their professional and personal goals however they may define them.</p>
			

			<h3 class="text-center navy">About The Company</h3>
			<p class="text-center"><%= image_tag("/images/jeremiah-and-emmet-concannon-founders.jpg", class: "founders-image") %></p>
			
			<p>The Concannon Insurance Agency is a full-service, family-owned &amp; operated insurance brokerage firm and risk management advisory service. We help businesses and families protect their assets, ideas and, ultimately, their futures.</p>

			<p>Founded by Jeremiah Concannon in 1903, our company has maintained a long-standing reputation as a trusted business partner and involved community leader. Staying in the family, the agency was carefully and knowledgeably passed down first to Jeremiah's son, Emmett Concannon, and then to his grandson, Michael Concannon. Today, The Concannon Insurance Agency is run by the 4th generation of family members, Jim and John Concannon.</p>
			<p>We are true insurance and risk management experts and we are proud to bring our clients over 100 years of industry experience as we remain grounded in our company’s heritage and values of integrity, client-focused solutions and superior customer service. Our hands-on, consultative approach is time-tested and allows us to cultivate close-knit relationships with our clients, which yields optimal outcomes for their businesses.</p>
			<p>With offices in both St. Louis, Missouri and New York City, we provide personalized service to clients all over the country. Whether you are looking for insurance solutions for a large national corporation, a small business, or your family, The Concannon Insurance Agency has the expertise and resources to help you with all of your insurance and risk management needs.</p>
			<p>The Concannon Insurance Agency is affiliated with The Charles L. Crane Agency, a leading brokerage umbrella corporation for over 125 years.</p>
			<p class="text-center">- <a href="/team" class="navy">Meet The Concannon Team</a> -</p>
		</div>
	</div>

	<%= render :partial => "testimonials" %>

	<!-- <div class="row about-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="text-center white">For 100 years we have provided expertise and committed service to our clients - we would have it no other way.</h3>
				<p class="text-center">
					<a href="/contact" class="btn">Contact Us</a>
				</p>
			</div>
		</div>
	</div> -->
	
	<!-- <div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy"><em>"This agency is our 'Go To' for all things insurance"</em></h2>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div> -->


</div>

