<div class="about">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">ABOUT US</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We help businesses and families protect their assets, ideas and ultimately, their futures. Founded by Jeremiah Concannon in 1903, our company has maintained a long-standing reputation as a trusted business partner and involved community leader.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

	<div class="row teal-border">
		<div class="container">
			<h3 class="text-center navy">Family-owned &amp; Operated Insurance Brokerage and Risk Management Advisory Service</h3>
			<hr class="yellow-hr">
			<p>We are true insurance and risk management expert. Our hands-on consultative approach is time-tested and allows us to cultivate close-knit relationships with our clients, which yields optimal outcomes for their businesses.</p>
			<p>Today, The Concannon Insurance Agency is run by the 4th generation of Concannon family members, Jim and John Concannon. We proud to bring our clients over 100 years of industry experience and we remain grounded in our company's heritage and values of integrity, client focused solutions and superior customer service.</p>
			<p>With offices in both <strong>St. Louis, Missouri</strong> and <strong>New York City</strong>, we provide personalized service to clients all over the country. Whether you are looking for insurance solutions for a large national corporation, a small business, or your family.</p>
			<p class="text-center">- <a href="" class="navy">meet the concannon team</a> -</p>
		</div>
	</div>

	<div class="row about-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="text-center navy">For 100 years we have provided expertise and committed service to our clients- we would have it no other way.</h3>
				<p class="text-center">
					<a href="#" class="btn">see our services</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy"><em>"This agency is our 'Go To' for all things insurance"</em></h2>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div>


</div>

