<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">BUSINESS INSURANCE</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">Whether you are an ambitious start-up business or have been operational for many generations like us, we will make sure that your business is protected so that you can focus on the people, products and services that are driving your business forward.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border">
		<div class="container">
			
			<p class="text-center"><%= image_tag("/images/concannon-insurance-business-insurance.jpg", class: "insurance-image") %></p>
			<p>When it comes to business insurance, we do it all. The Concannon Insurance Agency has a solid and diverse history of working closely with large multinational enterprises, municipalities, non-profits, unions and small businesses to help them with any and all of their insurance needs. A sampling of our business services include, but are not limited to:</p>
			
			<div class="container">
				<ul class="col-md-4">
					<li>Property Insurance</li>
					<li>General Liability Insurance</li>
					<li>Automobile Insurance</li>
				</ul>
				<ul class="col-md-4">
					<li>Workers Compensation</li>
					<li>Umbrella Liability Insurance</li>
					<li>Cyber Liability Insurance</li>
				</ul>
				<ul class="col-md-4">
					<li>Intellectual Property Insurance</li>
					<li>Directors &amp; Officers Liability Insurance</li>
					<li>Group Life &amp; Health Insurance</li>
				</ul>
			</div>

			<p class="text-center"><a href="/contact">Reach out to us to learn more about our business insurance services</a></p>

<%
=begin %>
			<p class="text-center">- <a href="/team" class="navy">meet the concannon team</a> -</p>
<%
=end %>

		</div>
	</div>

	<div class="row bi-cta">
		<div class="container">
			<%= render :partial => "service_testimonials" %>
			<div class="col-md-8 col-md-offset-2">
				<!-- <h3 class="text-center white">For 100 years we have provided expertise and committed service to our clients - we would have it no other way.</h3> -->
			</div>
		</div>
	</div>
	
	<!-- <div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy montserrat-bold">CLIENTS TRUST US WITH THEIR FUTURES.</h2>
			<p class="text-center teal"><em>This agency is our "Go To" for all things insurance</em></p>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div> -->

	<%= render :partial => "logos_carousel" %>

</div>

