<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">BUSINESS INSURANCE</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">As a family business, The Concannon Insurance Agency intimately understands how important it is to protect the people and things that matter most to you. We are here to help you manage that change so that you can spend your time focusing on what is really important in your life.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET IN TOUCH</a></p>
			</div>
		</div>
	</div>

	<div class="row teal-border">
		<div class="container">
			<h3 class="text-center navy">Family-owned &amp; Operated Insurance Brokerage and Risk Management Advisory Service</h3>
			<hr class="yellow-hr">
			<p>We do it all. The Concannon Insurance Agency works with both large national enterprises and small businesses to help them. A sampling of our business services include, but are not limited to:</p>
			
			<div class="container">
				<ul class="col-md-6 col-md-offset-3">
					<li>Property Insurance</li>
					<li>General Liability Insurance</li>
					<li>Automobile Insurance</li>
					<li>Workers Compensation</li>
					<li>Umbrella Liability Insurance</li>
					<li>Cyber Liability Insurance</li>
					<li>Intellectual Property Insurance</li>
					<li>Directors &amp; Officers Liability Insurance</li>
					<li>Group Life &amp; Health Insurance</li>
				</ul>
			</div>

			<p class="text-center">- <a href="" class="navy">meet the concannon team</a> -</p>
		</div>
	</div>

	<div class="row about-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="text-center navy">For 100 years we have provided expertise and committed service to our clients- we would have it no other way.</h3>
				<p class="text-center">
					<a href="#" class="btn">get in touch</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy montserrat-bold">CLIENTS TRUST US WITH THEIR FUTURES.</h2>
			<p class="text-center"><img class="testimonial-quote-img" src="../../images/quotation-marks.png" /></p>
			<p class="text-center teal"><em>This agency is our "Go To" for all things insurance</em></p>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div>


</div>

