<div class="home">
  <div class="home-bg-1 fullscreen background parallax">
  	<div class="container">
  		<div class="content-a">
  			<div class="content-b">
  				<div class="col-sm-4">
  					<h2 class="teal">BE SECURE AS YOU TAKE ON THE WORLD</h1>
  					<a href="/contact" class="btn">Contact Us</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="row navy-border">
    <div class="desc container">
    <h2 class="navy text-center">What <span>We</span> Do</h2>
    <h4 class="navy">For over 100 years, The Concannon Insurance Agency has been a trusted name in the insurance brokerage &amp; risk management industry. We protect what matters to you, so that you can passionately pursue your dreams without fear.</h4>
    </div>
  	<div class="col-md-4 bi-coverage">
      <h3 class="text-center gotham"><strong>BUSINESS INSURANCE</strong></h3>
      <p class="text-center">
        Let us help you understand your 
        <br class="rwd-break">complex business needs and find the 
        <br class="rwd-break">best insurance solutions for you.
      </p>
      <p class="text-center gotham"><strong>Protect your future. 
      <br class="rwd-break">Conquer the World.</strong></p>
      <p class="text-center"><a class="teal-btn" href="/business_insurance">Learn more</a></p>
    </div>
    <div class="col-md-4 pi-coverage">
      <h3 class="text-center gotham"><strong>PERSONAL INSURANCE</strong></h3>
      <p class="text-center">
        As a family business ourselves, we know 
        <br class="rwd-break">what it takes to protect you, your family, 
        <br class="rwd-break">and your most important assets.
      </p>
      <p class="text-center gotham"><strong>Protect your future. 
      <br class="rwd-break">Conquer the World.</strong></p>
      <p class="text-center"><a class="teal-btn" href="/business_insurance">Learn more</a></p>
    </div>
    <div class="col-md-4 home-risk-management">
  		<h3 class="text-center gotham"><strong>RISK MANAGEMENT</strong></h3>
  		<p class="text-center">
        Understand how your company can
        <br class="rwd-break">save millions of dollars each year in 
        <br class="rwd-break">work-related insurance deductibles.
      </p>
  		<p class="text-center gotham"><strong>Improve your work place. 
      <br class="rwd-break">Save money.</strong></p>
  		<p class="text-center"><a class="teal-btn" href="/risk_management">Learn more</a></p>
  	</div>
  	
  </div>

  <%= render :partial => "testimonials" %>

</div>

<script>
/* detect touch */
if("ontouchstart" in window){
    document.documentElement.className = document.documentElement.className + " touch";
}
if(!$("html").hasClass("touch")){
    /* background fix */
    $(".parallax").css("background-attachment", "fixed");
}

/* fix vertical when not overflow
call fullscreenFix() if .fullscreen content changes */
function fullscreenFix(){
    var h = $('body').height();
    // set .fullscreen height
    $(".content-b").each(function(i){
        if($(this).innerHeight() <= h){
            $(this).closest(".fullscreen").addClass("not-overflow");
        }
    });
}
$(window).resize(fullscreenFix);
fullscreenFix();

/* resize background images */
function backgroundResize(){
    var windowH = $(window).height();
    $(".background").each(function(i){
        var path = $(this);
        // variables
        var contW = path.width();
        var contH = path.height();
        var imgW = path.attr("data-img-width");
        var imgH = path.attr("data-img-height");
        var ratio = imgW / imgH;
        // overflowing difference
        var diff = parseFloat(path.attr("data-diff"));
        diff = diff ? diff : 0;
        // remaining height to have fullscreen image only on parallax
        var remainingH = 0;
        if(path.hasClass("parallax") && !$("html").hasClass("touch")){
            var maxH = contH > windowH ? contH : windowH;
            remainingH = windowH - contH;
        }
        // set img values depending on cont
        imgH = contH + remainingH + diff;
        imgW = imgH * ratio;
        // fix when too large
        if(contW > imgW){
            imgW = contW;
            imgH = imgW / ratio;
        }
        //
        path.data("resized-imgW", imgW);
        path.data("resized-imgH", imgH);
        path.css("background-size", imgW + "px " + imgH + "px");
    });
}
$(window).resize(backgroundResize);
$(window).focus(backgroundResize);
backgroundResize();

/* set parallax background-position */
function parallaxPosition(e){
    var heightWindow = $(window).height();
    var topWindow = $(window).scrollTop();
    var bottomWindow = topWindow + heightWindow;
    var currentWindow = (topWindow + bottomWindow) / 2;
    $(".parallax").each(function(i){
        var path = $(this);
        var height = path.height();
        var top = path.offset().top;
        var bottom = top + height;
        // only when in range
        if(bottomWindow > top && topWindow < bottom){
            var imgW = path.data("resized-imgW");
            var imgH = path.data("resized-imgH");
            // min when image touch top of window
            var min = 0;
            // max when image touch bottom of window
            var max = - imgH + heightWindow;
            // overflow changes parallax
            var overflowH = height < heightWindow ? imgH - height : imgH - heightWindow; // fix height on overflow
            top = top - overflowH;
            bottom = bottom + overflowH;
            // value with linear interpolation
            var value = min + (max - min) * (currentWindow - top) / (bottom - top);
            // set background-position
            var orizontalPosition = path.attr("data-oriz-pos");
            orizontalPosition = orizontalPosition ? orizontalPosition : "50%";
            $(this).css("background-position", orizontalPosition + " " + value + "px");
        }
    });
}
if(!$("html").hasClass("touch")){
    $(window).resize(parallaxPosition);
    //$(window).focus(parallaxPosition);
    $(window).scroll(parallaxPosition);
    parallaxPosition();
}

</script>