<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">PERSONAL INSURANCE</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">As a family business, The Concannon Insurance Agency intimately understands how important it is to protect the people and things that matter most to you. We are here to help you manage that change so that you can spend your time focusing on what is really important in your life.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row teal-border">
		<div class="container">
			<h3 class="text-center navy">Family-owned &amp; Operated Insurance Brokerage and Risk Management Advisory Service</h3>
			<hr class="yellow-hr">
			<p>We have over 100 years of experience assembling and managing personalized insurance plans for families and individuals. We understand that your family's priorities and goals evolve over time. A sampling of our business services include, but are not limited to:</p>
			
			<div class="container">
				<ul class="col-md-4 col-md-offset-2">
					<li>Homeowner's Insurance</li>
					<li>Automobile Insurance</li>
					<li>Umbrella Liability Insurance</li>
					<li>Renter's Insurance</li>
				</ul>
				<ul class="col-md-4">
					<li>Life &amp; Health Insurance</li>
					<li>Long-term Care &amp; Disability Insurance</li>
					<li>Identity Theft Protection</li>
					<li>Personal Legal Insurance</li>
					</ul>
			</div>

<%
=begin %>
			<p class="text-center">- <a href="/team" class="navy">meet the concannon team</a> -</p>
<%
=end %>

		</div>
	</div>

	<div class="row about-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="text-center navy">For 100 years we have provided expertise and committed service to our clients- we would have it no other way.</h3>
				<p class="text-center">
					<a href="/contact" class="btn">Contact Us</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy montserrat-bold">CLIENTS TRUST US WITH THEIR FUTURES.</h2>
			<!-- <p class="text-center"><img class="testimonial-quote-img" src="../../images/quotation-marks.png" /></p> -->
			<p class="text-center teal"><em>This agency is our "Go To" for all things insurance</em></p>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div>

	<%= render :partial => "logos_carousel" %>

</div>

