<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">PERSONAL INSURANCE</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">Whether you are an ambitious start-up business or have been operational for many generations like us, we will make sure that your business is protected so that you can focus on the people, products and services that are driving your business forward.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">GET IN TOUCH</a></p>
			</div>
		</div>
	</div>

	<div class="row teal-border">
		<div class="container">
			<h3 class="text-center navy">Family-owned &amp; Operated Insurance Brokerage and Risk Management Advisory Service</h3>
			<hr class="yellow-hr">
			<p>We have over 100 years of experience assembling and managing personalized insurance plans for families and individuals. We understand that your family's priorities and goals evolve over time. A sampling of our business services include, but are not limited to:</p>
			
			<div class="container">
				<ul class="col-md-6 col-md-offset-3">
					<li>Homeowner's Insurance</li>
					<li>Automobile Insurance</li>
					<li>Umbrella Liability Insurance</li>
					<li>Renter'sInsurance</li>
					<li>Life &amp; Health Insurance</li>
					<li>Long-term Care &amp; Disability Insurance</li>
					<li>Identity Theft Protection</li>
					<li>Personal Legal Insurance</li>
				</ul>
			</div>

			<p class="text-center">- <a href="/team" class="navy">meet the concannon team</a> -</p>
		</div>
	</div>

	<%= render :partial => "logos_carousel" %>

	<div class="row about-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="text-center navy">For 100 years we have provided expertise and committed service to our clients- we would have it no other way.</h3>
				<p class="text-center">
					<a href="/contact" class="btn">get in touch</a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy montserrat-bold">CLIENTS TRUST US WITH THEIR FUTURES.</h2>
			<p class="text-center"><img class="testimonial-quote-img" src="../../images/quotation-marks.png" /></p>
			<p class="text-center teal"><em>This agency is our "Go To" for all things insurance</em></p>
			<p class="text-right navy montserrat-bold">- Russ Odegard and Mike Pruett, Co-Founders, DYNALABS</p>
		</div>
	</div>


</div>

