<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">RISK MANAGEMENT</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We analyze our client's activities and procedures and then provide strategic recommendations in order to minimize their risk exposure and likelihood of accidental losses. The impact of our risk management consulting services not only reduce claims, but oftentimes also reduce our client's insurance premiums.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border">
		<div class="container">
			<!-- <h3 class="text-center navy">Family-owned &amp; Operated Insurance Brokerage and Risk Management Advisory Service</h3>
			<hr class="yellow-hr"> -->
			<p>The Concannon Insurance Agency provides both project-based and ongoing risk management consulting services to some of our larger clients. Some of our risk management services include, but are not limited to:</p>
			
			<div class="container">
				<ul class="col-md-6">
					<li>Safety and loss prevention programs for all lines of coverage</li>
					<li>People and cultural based safety programs</li>
					<li>Workers Compensation loss reduction</li>
				</ul>
				<ul class="col-md-6">
					<li>Fire hazards, controls and advanced property risk</li>
					<li>Transitional return-to-work programs</li>
					<li>Commercial automobile fleet accident prevention programs</li>
				</ul>
			</div>
			<p class="text-center">Reach out to us to learn more about our business insurance services</p>

<%
=begin %>
			<p class="text-center">- <a href="/team" class="navy">meet the concannon team</a> -</p>
<%
=end %>

		</div>
	</div>

	<div class="row risk-cta">
		<div class="container">
			<%= render :partial => "testimonials" %>
			<div class="col-md-8 col-md-offset-2">
				<!-- <h3 class="text-center white">For 100 years we have provided expertise and committed service to our clients - we would have it no other way.</h3> -->
			</div>
		</div>
	</div>
	
	<!-- <div class="container clients-trust">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center navy montserrat-bold">CLIENTS TRUST US WITH THEIR FUTURES.</h2>
			<p class="text-center teal"><em>The Concannon Insurance Agency assures we obtain the best possible coverage.</em></p>
			<p class="text-right navy montserrat-bold">- Juli Laramie, Carpenters District Council of Greater St. Louis &amp; Vicinity</p>
		</div>
	</div> -->

	<%= render :partial => "logos_carousel" %>

</div>

