<div class="insurance">

	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">RISK MANAGEMENT CONSULTING</h1>
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We analyze our client's activities and procedures and then provide strategic recommendations in order to minimize their risk exposure and likelihood of accidental losses. The impact of our risk management consulting services not only reduce claims, but oftentimes also reduce our client's insurance premiums.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border">
		<div class="container">
			<p class="text-center"><%= image_tag("/images/concannon-insurance-risk-management-consulting.jpg", class: "insurance-image") %></p>	
			<p>The Concannon Insurance Agency provides both project-based and ongoing risk management consulting services to some of our larger clients. Some of our risk management services include, but are not limited to:</p>
			
			<ul class="col-md-6">
				<li>Safety and loss prevention programs for all lines of coverage</li>
				<li>People and cultural based safety programs</li>
				<li>Workers Compensation loss reduction</li>
			</ul>
			<ul class="col-md-6">
				<li>Fire hazards, controls and advanced property risk</li>
				<li>Transitional return-to-work programs</li>
				<li>Commercial automobile fleet accident prevention programs</li>
			</ul>

			<p class="text-center insurance-cta"><a href="/contact">Reach out to us to learn more about our risk management consulting services</a></p>
		</div>

	</div>

	<div class="row risk-cta">
		<%= render :partial => "service_testimonials" %>
	</div>

	<%= render :partial => "logos_carousel" %>

</div>

