<div class="services">


	<div class="navy-bg">
		<div class="container">
			<div class="col-sm-4 col-sm-offset-4">
				<h2 class="text-center white title">OUR SERVICES</h2>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<p class="white">We enjoy the long term nature of our business. Whether it's finding the right coverage for our clients or providing risk management consulting.</p>
				<p class="white">Concannon prides itself in an efficiency-focused concierge style service.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

	<div class="container navy-border service-bg-image">
		<h3 class="text-center">
			<span class="navy">WHAT WE OFFER</span>
			<span class="gray">CHOOSE FROM OUR TWO SERVICES BELOW</span>
		</h3>
		<div class="col-sm-6 future">
			<h3 class="text-center white">Protect Your Future</h3>
			<div class="side-border">
				<p class="white">Concannon's insurance policy offerings for your company include:</p>
				<ul>
					<li class="white">Workers compensation</li>
					<li class="white">Property theft protection</li>
					<li class="white">Healthcare coverage</li>
					<li class="white">Dental and eye plans</li>
				</ul>
			</div>
			<p><a href="" class="btn">+ FIND INSURANCE COVERAGE</a></p>
		</div>
		<div class="col-sm-6 business">
			<h3 class="text-center white">Reduce Business Cost</h3>
			<div class="">
				<p class="white">Our risk management consulting service has allowed our clients to:</p>
				<ul>
					<li class="white">Reduce policy premiums by 22%</li>
					<li class="white">Improve on-site employee compliance</li>
					<li class="white">Cut financial waste by 13%</li>
					<li class="white">Increase capital investment by 5%</li>
				</ul>
				<p><a href="" class="btn">+ CREATE RISK MANAGEMENT</a></p>
			</div>
		</div>
	</div>

	<!-- <div class="container"> -->
		<%= render :partial => "testimonials" %>
	<!-- </div> -->

	<div class="container services-cta">
		<h3 class="text-center">
			<span class="navy">WE ARE HERE FOR YOU</span> 
			<span class="white">LEARN ABOUT THE PROCESS</span>
		</h3>

		<div class="col-md-4 col-md-offset-2">
			<p class="text-center">
				<a href="#" class="teal-btn">FREQUENTLY ASKED QUESTIONS
				</a>
			</p>
		</div>
		<div class="col-md-4">
			<p class="text-center">
				<a href="#" class="btn">SPEAK WITH US</a>
			</p>
		</div>
	</div>

</div>