<div class="services">


	<div class="navy-bg">
		<div class="container">
			<div class="col-sm-4 col-sm-offset-4">
				<h2 class="text-center white">OUR SERVICES</h2>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<p class="white">We enjoy the long term nature of our business. Whether it's finding the right coverage for our clients or providing risk management consulting.</p>
				<p class="white">Concannon prides itself in an efficiency-focused concierge style service.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

	<div class="container navy-border">
		<h3 class="text-center">
			<span class="navy">WHAT WE OFFER</span>
			<span class="gray">CHOOSE FROM OUR TWO SERVICES BELOW</span>
		</h3>
		<div class="container service-bg-image">

			<div class="col-sm-6 future">
				<h3 class="text-center">Protect Your Future</h3>
				<div class="">
					<p>Concannon's insurance policy offerings for your company include:</p>
					<ul>
						<li>Workers compensation</li>
						<li>Property theft protection</li>
						<li>Healthcare coverage</li>
						<li>Dental and eye plans</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 business">
				<h3 class="text-center">Reduce Business Cost</h3>
				<div class="">
					<p>Our risk management consulting service has allowed our clients to:</p>
					<ul>
						<li>Reduce policy premiums by 22%</li>
						<li>Improve on-site employee compliance</li>
						<li>Cut financial waste by 13%</li>
						<li>Increase capital investment by 5%</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>


</div>