<div class="services">


	<div class="navy-bg">
		<div class="container">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="text-center white title">OUR SERVICES</h2>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We enjoy the long term nature of our business. Whether it's finding the right coverage for our clients or providing risk management consulting.</p>
				<p class="white">Concannon prides itself in an efficiency-focused concierge style service.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border service-bg-image">
		<h3 class="text-center">
			<span class="navy">WHAT WE OFFER</span>
			<span class="gray">CHOOSE FROM OUR TWO SERVICES BELOW</span>
		</h3>
		<div class="row myrow">
			<div class="col-md-4 business-insurance">
				<h3 class="text-center white">Business Insurance</h3>
				<p class="text-center white narrow-p">Be confident, even when the unexpected happens.</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn"><span class="yellow">+ </span> GET PERSONAL COVERAGE</a>
				</p>
			</div>

			<div class="col-md-4 services-risk-management">
				<h3 class="text-center white">Risk Management</h3>
				<p class="text-center white narrow-p">Reduce wasteful and avoidable insurance claims and premiums.</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn"><span class="yellow">+ </span> MANAGE RISK &amp; LIABILITIES</a>
				</p>
			</div>

			<div class="col-md-4 personal-insurance">
				<h3 class="text-center white">Personal Insurance</h3>
				<p class="text-center white narrow-p">Protect your company's property and its future.</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn"><span class="yellow">+ </span>PROTECT YOUR BUSINESS</a>
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="container"> -->
		<%= render :partial => "testimonials" %>
	<!-- </div> -->

	<div class="row services-cta">
		<h1 class="text-center navy">WE ARE HERE FOR YOU</h1>
		<p class="text-center">
			<a href="#" class="btn">SPEAK WITH US</a>
		</p>
	</div>

</div>

<script>
//for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
// $('.pull-down').each(function() {
//     $(this).css('margin-top', $(this).parent().height()-$(this).height())
// });
</script>