<div class="services">


	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">OUR SERVICES</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">We enjoy the long term nature of our business. Whether it's finding the right coverage for our clients or providing risk management consulting.</p>
				<p class="white">Concannon prides itself in an efficiency-focused concierge style service.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border service-bg-image">
		<h3 class="text-center">
			<span class="navy gotham">WHAT WE OFFER</span>
			<span class="gray">CHOOSE FROM OUR TWO SERVICES BELOW</span>
		</h3>
		<div class="row myrow">
			<div class="col-md-4">
				<h3 class="text-center white">Business Insurance</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Be confident, even
					<br>when the
					<br>unexpected happens.
				</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn">
						<span class="yellow">+ </span> 
						GET PERSONAL
						<br>COVERAGE
					</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center white">Risk Management</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Reduce wasteful and 
					<br>avoidable insurance 
					<br>claims and premiums.
				</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn">
						<span class="yellow">+ </span> 
						MANAGE RISK &amp; 
						<br>LIABILITIES
					</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center white">Personal Insurance</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Protect your 
					<br>company's property
					<br>and its future.
				</p>
				<p class="text-center align-btn pull-down">
					<a href="#" class="btn">
						<span class="yellow">+ </span>
						PROTECT YOUR 
						<br>BUSINESS
					</a>
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="container"> -->
		<%= render :partial => "testimonials" %>
	<!-- </div> -->

	<div class="row services-cta">
		<h1 class="text-center navy">WE ARE HERE FOR YOU</h1>
		<p class="text-center">
			<a href="#" class="btn">SPEAK WITH US</a>
		</p>
	</div>

</div>

<script>
//for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
// $('.pull-down').each(function() {
//     $(this).css('margin-top', $(this).parent().height()-$(this).height())
// });
</script>