<div class="services">


	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">OUR SERVICES</h1>
			<hr class="teal-hr">
			<div class="col-md-8 col-md-offset-2">
				<p class="white">Whether it's finding the right property coverage for your new facility or creating a custom risk management training program for your employees, we have the expertise and relationships to help you get exactly what you need.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row navy-border service-bg-image">
		<h3 class="text-center">
			<!-- <span class="navy gotham">WHAT WE OFFER</span> -->
			<span class="gray">LEARN ABOUT OUR SERVICES</span>
		</h3>
		<div class="row myrow">
			<div class="col-md-4">
				<h3 class="text-center white">Business Insurance</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Protect your company's 
					<br class="rwd-break">employees, assets, ideas 
					<br class="rwd-break">and future.
				</p>
				<!-- <p class="text-center white narrow-p">
					Be confident, even
					<br class="rwd-break">when the
					<br class="rwd-break">unexpected happens.
				</p> -->
				<p class="text-center align-btn pull-down">
					<a href="/business_insurance" class="btn">
						<span class="yellow">+ </span> 
						EXPLORE 
						<br class="rwd-break">BUSINESS INSURANCE
						<!-- <br class="rwd-break"> -->
					</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center white">Personal Insurance</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Feel confident knowing that you, 
					<br class="rwd-break">your family, and your property 
					<br class="rwd-break">are safeguarded.
				</p>
				<!-- <p class="text-center white narrow-p">
					Protect your 
					<br class="rwd-break">company's property
					<br class="rwd-break">and its future.
				</p> -->
				<p class="text-center align-btn pull-down">
					<a href="/personal_insurance" class="btn">
						<span class="yellow">+ </span>
						EXPLORE 
						<br class="rwd-break">PERSONAL INSURANCE
						<!-- <br class="rwd-break">COVERAGE -->
					</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3 class="text-center white">Risk Management</h3>
				<hr class="blue-hr"></hr>
				<p class="text-center white narrow-p">
					Reduce wasteful and 
					<br class="rwd-break">avoidable insurance 
					<br class="rwd-break">claims and premiums.
				</p>
				<p class="text-center align-btn pull-down">
					<a href="/risk_management" class="btn">
						<span class="yellow">+ </span> 
						EXPLORE 
						<br class="rwd-break">RISK MANAGEMENT
					</a>
				</p>
			</div>

		</div>
	</div>

	<div class="row services-cta">
		<div class="container">
			<%= render :partial => "service_testimonials" %>
		</div>
	</div>

	<%= render :partial => "logos_carousel" %>
		
</div>

<script>
//for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
// $('.pull-down').each(function() {
//     $(this).css('margin-top', $(this).parent().height()-$(this).height())
// });
</script>