<div class="team">


	<div class="navy-bg">
		<div class="container">
			<div class="col-sm-4 col-sm-offset-4">
				<h2 class="text-center white title">OUR TEAM</h2>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<p class="white">Our company is comprised of innovative analysts and brokers who possess a century old sense of pride and passion for the client.</p>
				<p class="white">A proud history and industry leading solutions propel our clients forward.</p>
				<p class="white text-right"><a class="teal-btn" href="#">GET A QUOTE</a></p>
			</div>
		</div>
	</div>

</div>