<div class="team">


	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">OUR TEAM</h1>
			<hr class="teal-hr"></hr>
			<div class="col-md-8 col-md-offset-2">
				<p class="white">Our company is comprised of innovative analysts and brokers who possess a century old sense of pride and passion for the client.</p>
				<p class="white">A proud history and industry leading solutions propel our clients forward.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row team-members teal-border">
		<h2 class="navy text-center">ABOUT OUR TEAM MEMBERS</h2>
		<div class="container">
			<%= render :partial => "members" %>
		</div>
	</div>

	<div class="row team-cta">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<!-- <h3 class="text-center white">Concannon Insurance and Risk Management is a trusted brokerage with over 100 years of professional heritage</h3> -->
				<p class="text-center">
					<a href="/contact" class="btn">Contact Us</a>
				</p>
			</div>
		</div>
	</div>


</div>