<div class="team">


	<div class="navy-bg">
		<div class="container">
			<h1 class="text-center white">OUR TEAM</h1>
			<hr class="teal-hr"></hr>
			<div class="col-md-8 col-md-offset-2">
				<p class="white">As a family business, we have passed down industry knowledge from generation to generation. But what makes The Concannon Insurance Agency truly outstanding is our professional team of talented and devoted employees who earn the trust and respect of our clients every day. We love what we do and enjoy doing it as a team.</p>
				<p class="white text-right"><a class="teal-btn" href="/contact">Contact Us</a></p>
			</div>
		</div>
	</div>

	<div class="row team-members teal-border">
		<h2 class="navy text-center">About Our Team Members</h2>
		<div class="container">
			<%= render :partial => "members" %>
		</div>
	</div>

	<div class="row team-cta">
		<div class="container">
			<%= render :partial => "service_testimonials" %>
		</div>
	</div>


</div>