$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


@font-face {
  font-family: 'gothammedium';
  src:font-url('gothammedium.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src:font-url('montserrat-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-regular';
  src:font-url('montserrat-regular.ttf') format('truetype');
}

/**************************
RESETS
**************************/
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/**************************
LAYOUT
**************************/
.h-section {
  width: 100%;
  float: left;
}
.h-box {
  max-width: 1200px;
  margin: 0 auto;
}

/**************************
TYPOGRAPHY
**************************/
body {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'montserrat-regular', 'Helvetica Neue', 'Helvetica', 'Arial' !important;
  overflow-x: hidden;
  background: $cl-gray !important;
  max-width: 1500px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "montserrat-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: $cl-navy !important;
}


a {
  color: $cl-teal;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
a:hover {
  /* text-decoration: none !important;
  color: $cl-teal !important;
  opacity: 0.6;
  transition: color .5s, opacity .5s ease-in-out !important;
  -moz-transition: color .5s, opacity .5s ease-in-out !important;
  -webkit-transition: color .5s, opacity .5s ease-in-out !important; */
}
a.btn {
  font-family: "montserrat-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  border: 0;
  padding: 10px 20px;
  background: $cl-navy;
  color: #fff !important;
  font-size: 18px;
  transition: color .5s ease-in-out !important;
  -moz-transition: color .5s ease-in-out !important;
  -webkit-transition: color .5s ease-in-out !important;
  transition: opacity 500ms;
}
a.teal-btn, button.teal-btn, input.teal-btn {
  font-family: "montserrat-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  background: $cl-teal !important;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: color .5s, opacity .5s ease-in-out !important;
  -moz-transition: color .5s, opacity .5s ease-in-out !important;
  -webkit-transition: color .5s, opacity .5s ease-in-out !important;
}
a.teal-btn:hover, button.teal-btn:hover, input.teal-btn:hover {
  color: $cl-navy !important;
  transition: color .5s, opacity .5s ease-in-out !important;
  -moz-transition: color .5s, opacity .5s ease-in-out !important;
  -webkit-transition: color .5s, opacity .5s ease-in-out !important;
  opacity: 0.9;
}
a.navy-btn, button.navy-btn, input.navy-btn {
  font-family: "montserrat-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  background: $cl-navy !important;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: color .5s, opacity .5s ease-in-out !important;
  -moz-transition: color .5s, opacity .5s ease-in-out !important;
  -webkit-transition: color .5s, opacity .5s ease-in-out !important;
}
a.navy-btn:hover, button.navy-btn:hover, input.navy-btn:hover {
  text-decoration: none;
  color: $cl-teal !important;
  transition: color .5s, opacity .5s ease-in-out !important;
  -moz-transition: color .5s, opacity .5s ease-in-out !important;
  -webkit-transition: color .5s, opacity .5s ease-in-out !important;
  opacity: 0.9;
}

.gotham {
  font-family: "gothammedium";
}

.montserrat {
  font-family: "montserrat-regular";
}

.montserrat-bold {
  font-family: "montserrat-bold";
}

/*glyphicon style for placeholders on team page*/
.bs-glyphicon .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

/**************************
FORMS
**************************/
*:focus {
  outline: 0;
}
input[type=text],
input[type=email],
input[type=password]{
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
button, input[type=submit] {
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  background: $cl-navy;
  color: #fff !important;
  transition: opacity 500ms;
  &:hover {
    opacity: 0.8;
  }
}


/**************************
COLORS
**************************/
.navy {
  color: $cl-navy !important;
}
.navy-bg {
  background: $cl-navy !important;
}
.teal {
  color: $cl-teal !important;
}
.gray {
  color: $cl-gray !important;
}
.white {
  color: #fff !important;
}
.navy-bg {
  background: $cl-navy !important;
}
.yellow {
  color: $cl-yellow !important;
}


/* background setup */
.background {
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 55%;
  /* ie8- graceful degradation */
  background-position:50% 55%\9 !important;
}

/* fullscreen setup */
html, body {
  /* give this to all tags from html to .fullscreen */
  height: 100%;
}
.fullscreen,
.content-a {
  width: 100%;
  min-height: 100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
  height: 100%;
  overflow: hidden;
}

/* content centering styles */
.content-a {
  display: table;
}
.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

/* visual styles */
body{
  margin: 0;
  font-size: 28px;
  line-height: 100px;
}
section {
  background: #9ed100;
}
.not-fullscreen {
  height: 50%;
}

hr.yellow-hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid $cl-yellow;
  width: 80%;
  margin-left: 10%;
}

hr.teal-hr {
  display: block;
  border: 0;
  border-top: 5px solid $cl-teal;
  width: 20%;
  margin-left: 40%;
}

hr.blue-hr {
  display: block;
  border: 0;
  border-top: 3px solid $cl-light-blue;
  width: 20%;
  margin-left: 40%;
}

.teal-border {
  border: 10px solid $cl-teal;
  background: #fff;
  padding: 50px;
  margin: 50px 15px;
}

.navy-border {
    border: 10px solid $cl-navy;
    background: #fff;
    padding-bottom: 50px;
    margin: 50px 15px !important;
}

.services, .insurance, .team {
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .teal-border {
    margin: 50px 15px !important;
  }
  br.rwd-break {
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  hr.blue-hr {
    width: 30%;
    margin-left: 35%;
  }
}

@media screen and (max-width: 767px) {
  br.rwd-break {
    display: none;
  }
}

