$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;

.clients-trust {

	padding: 50px 0;

	h2, p {
		line-height: 2em;
		font-size: 24px;
	}

	h2 {

		span {
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			padding: 5px 0;
		}

	}
	p.teal {
		font-size: 24px;
	}

	p.navy {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.clients-trust {
		h2 {
			font-size: 16px;
		}

		p.navy {
			font-size: 14px;
		}
	}
}