$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


footer {
	background: #051f43;
	padding: 15px 0;
}

footer {
  p {
	 color: #ffffff;

   span {
    color: #33c9c9;
   }
  }
  
  p.text-right {
    margin-top: 15px;
  }

  .logo {
    width: 300px;
  }
  a {
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
  }
  a:hover {
    color: $cl-teal;
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  footer {

    span.white {
      text-align: left;
      display: block;
      margin-bottom: 10px;
    }

    p {
  	 // text-align: center !important;
    }
  }
}