$cl-teal: #33c9c9;
$cl-navy: #051f43;
$cl-gray: #e6e6e6;
$cl-yellow: #ffea00;
$cl-light-blue: #43befa;


nav {
	padding: 15px 0;
}

.navbar {
	margin-bottom: 0 !important;
}
.navbar-default {
	background-color: $cl-navy !important;
	border: 0 !important;
}

@media screen and (max-width: 768px) {
	.navbar-header {

		.desk {
			display: none;
		}

		span.mobile {
			display: inline-block;
			line-height: 50px;
			float: left;
		}
	}
}
@media screen and (min-width: 768px) {
	.navbar-header {

		span.mobile {
			display: none;
		}

		.desk {
			display: inline-block;
		}
	}
}


.navbar .navbar-brand {
	font-family: "montserrat-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff !important;
	transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  font-size: 10px;
  letter-spacing: 5px;
}
.navbar-default .navbar-brand:hover {
	opacity: 0.7;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.navbar-brand::first-letter {
	font-size: 120%;
}
.navbar-default .navbar-brand span {
	font-size: 10px;
}

.navbar .navbar-collapse ul.nav li a {
	color: $cl-teal;
	transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  line-height: 30px;
}
.navbar .navbar-collapse ul.nav li a:hover {
	opacity: 0.5;
	transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.navbar-brand {
	/*margin-top: -4px;*/
}
.navbar-brand .logo {
	width: 180px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: -4px;
}

.navbar-default .navbar-nav > .active > a {
	background: none !important;
	color: $cl-yellow !important;
	transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.nav > li > a {
	padding: 10px 25px !important;
}

@media screen and (max-width: 768px) {
	.navbar-brand span {
		display: none;
	}

}