<div class="container">
	
	<div class="col-sm-3">
		<p class="white">Concannon Risk Management and Insurance. <span class="">Since 1908.</span></p>
	</div>
	<div class="col-sm-3 col-sm-offset-6">
		<p class="text-right"><a class="teal" href="/contact">GET IN TOUCH WITH <span class="yellow">US</span></a></p>
	</div>
<%
=begin
	<div class="col-sm-3 col-sm-offset-6">
		<!-- <p><a class="teal" href="#">BACK TO TOP</a></p> -->
	</div>
=end %>
</div>