<div class="container">
	
	<div class="col-sm-4">
		<p class="teal text-center"><%= image_tag("/images/logo-new.png", class: "logo") %></p>
    <p><a href="tel:+16365375611">636-537-5611</a></p>
	</div>
  <div class="col-sm-4">
    <p class="teal">ST. LOUIS OFFICE</p>
    <span class="white">400 Chesterfield Center Drive<br />
    Suite 320<br />
    Chesterfield, Missouri 63017</span>
  </div>
  <div class="col-sm-4">
    <p class="teal">NEW YORK CITY OFFICE</p>
    <span class="white">222 Broadway<br />
    19th Floor<br />
    New York, New York 10038</span>
  </div>
</div>