<div class="container">
	
	<div class="col-sm-3">
		<p>Concannon Risk Management and Insurance. <span>Since 1908.</span></p>
	</div>

	<div class="col-sm-6 text-center">
		<p><a class="teal" href="#">GET IN TOUCH</a></p>
	</div>

	<div class="col-sm-3">
		<p><a class="teal" href="#">BACK TO TOP</a></p>
	</div>

</div>