<div class="container">
	
	<div class="col-md-3">
		<p class="teal"><%= image_tag("/images/logo-new.png", class: "logo") %></p>
	</div>
  <div class="col-md-3">
    <p class="teal">ST. LOUIS OFFICE</p>
    <span class="white">400 Chesterfield Center Drive<br />
    Suite 320<br />
    Chesterfield, Missouri 63017<br />
    <a href="tel:+16365375611">(636) 537-5611</a></span>
  </div>
  <div class="col-md-3">
    <p class="teal">NEW YORK CITY OFFICE</p>
    <span class="white">222 Broadway<br />
    19th Floor<br />
    New York, New York 10038<br />
    <a href="tel:+19177459440">(917) 745-9440</a></span>
  </div>
  <div class="col-md-3">
    <p class="teal">EMAIL US</p>
    <p><a href="mailto:contactus@concannonagency.com" class="teal">contactus@concannonagency.com</a></p>
  </div>
</div>