<div class="container">
	
	<div class="col-sm-3">
		<p class="teal">Concannon Risk Management and Insurance. <span class="yellow">Since 1908.</span></p>
	</div>
  <div class="col-sm-3">
    <p class="teal">ST. LOUIS OFFICE</p>
    <span class="white">400 Chesterfield Center Drive<br />
    Suite 320<br />
    Chesterfield, Missouri 63017</span>
  </div>
  <div class="col-sm-3">
    <p class="teal">NEW YORK CITY OFFICE</p>
    <span class="white">222 Broadway<br />
    19th Floor<br />
    New York, New York 10038</span>
  </div>
	<div class="col-sm-3">
		<p class="text-right"><a class="teal" href="/contact">GET IN TOUCH WITH <span class="yellow">US</span></a></p>
	</div>
<%
=begin
	<div class="col-sm-3 col-sm-offset-6">
		<!-- <p><a class="teal" href="#">BACK TO TOP</a></p> -->
	</div>
=end %>
</div>